* {
  box-sizing: border-box;
}
:root {
  --dark-green: #01470c;
  --ligth-blue: #317da5;
  --liniar-gb: linear-gradient(
    135deg,
    rgba(0, 69, 77, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  --liniar-bg: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 69, 77, 0.9) 100%
  );
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: white;
}

a {
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
}
h3{
  font-weight: 500;
}
.hidden {
  display: none;
}

/*header*/
header {
  position: fixed;
  z-index: 5;
  width: 100vw;
  background: #317da5;
  height: 4rem;
}
.navbar {
  position: relative;
  margin: 0 1rem 0 0;
}

.nav-icon-mobile {
  width: 2rem;
  position: absolute;
  z-index: 6;
  top: 1rem;
  left: 1rem;
}
.nav-icon-mobile span {
  height: 0.2rem;
  background-color: white;
  margin: 0.2rem 0;
  display: block;
}

#aside-active {
  margin: 0 2rem;
  transition: 0.5s;
  line-height: 4rem; /*as navbar height*/
  float: right;
}
.nav-items {
  width: 50%;
  position: absolute;
  top: 4rem;
  left: 0;
  background: #0e282ce0;
  margin: 0;
  padding: 0 1rem;
  gap: 0;
  transition: all 650ms ease-in-out;
}
.nav-item {
  border-bottom: 1px solid #ffffff;
}
.nav-item:last-child {
  border-bottom: none;
}
.nav-link {
  opacity: 0.5;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.5s; /*change property value smoothly*/
  line-height: 3rem;
}
.nav-link:hover,
.nav-link.active {
  opacity: 1;
}
/*  END header*/

/*main*/
#home,
#about,
#projects,
#contact {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 0;
}

/*HOME section*/
#home {
  background: var(--liniar-gb), url('./images/home-imgs/card-bg.png') center;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  justify-content: center;
  align-items: center;
}
.home--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.home--info h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  color: orange;
  font-size: 2rem;
  font-weight: 480;
  white-space: nowrap; /*for animation, to be in a line First name and second name*/
  animation: typing 3s steps(40, end);
  margin: 0 auto;
  width: 100%; /*for animation we need width*/
}

.home--link-freecodecamp img {
  background: white;
}
.home--link-github img,
.home--link-freecodecamp img {
  max-width: 40px;
  height: auto;
  margin: 20px;
  border-radius: 50%;
}
.home--link-github img:hover,
.home--link-freecodecamp img:hover {
  box-shadow: 0 0 2px 2px orange;
}

@keyframes typing {
  from {
    width: 0;
    border-right: 1px solid orange;
  }
  to {
    border-right: 1px solid orange;
  }
}

/*END HOME section*/

/*ABOUT section*/
#about {
  background: var(--liniar-bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about--img-container {
  max-width: 220px;
  max-height: 220px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #317da5;
  box-shadow: 0px 0px 0px 4px #1d5258;
}
.about--img-container img {
  width: 100%;
  height: 100%;
}
.about-info {
  max-width: 600px;
  margin: 0 2rem;
}
.wave{
  display: flex;
  align-items: center;
}
.wave img{
  width: 1.5rem;
  margin: 0 0.5rem;
  animation: rotation 2s linear 2;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(25deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*END ABOUT section*/

/*PROJECTS section*/
#projects {
  background: var(--liniar-gb);
}
.projects-heading{
  text-align: center;
}
.project-list {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

.project-item {
  position: relative; /*for img with position absolute in @media*/
  max-width: 500px;
  border: 2px solid gray;
  background: #80808094;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.project-content {
  width: 100%;
  background: #0303038c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-img {
  width: 100%;
  height: 100%;
}

.project-img img {
  width: 100%;
  height: 100%; /*object-fit to work must have width and heigth, auto, not 100%*/
  object-fit: fill;
}

.project-btns button {
  height: 2rem;
  width: 6.2rem;
  margin: 0.2rem;
}
.project-btn {
  border-radius: 2px;
}
.project-btn.github {
  color: white;
  background: black;
  border: 1px solid white;
}
.project-btn.project-btn.github:hover {
  cursor: pointer;
  border: 1px solid black;
}
.project-btn.live {
  background: #cfb6b6;
  color: black;
  border: 2px solid black;
}
.project-btn.live:hover {
  cursor: pointer;
  border: 2px solid #cfb6b6;
}
/*END PROJECTS section*/

/*CONTACT section*/
#contact {
  margin: auto;
  background: var(--liniar-bg);
  position: relative;
}
.contact-section-info {
  text-align: center;
}
.contact-section-title {
  position: relative;
  background: #ffffff36;
  text-align: center;
  height: 4rem;
  padding: 1.25rem; /*h1=>1.5rem, height=> 4rem*/
}
.contact-section-title::before {
  content: '';
  background: var(--liniar-bg);
  position: absolute;
  height: 0.3rem;
  top: 49%;
  left: 0;
  right: 0;
  z-index: -1;
}

form {
  background: var(--main-blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 4rem 0;
  border-radius: 5px;
  border: 1px solid #317da5;
  box-shadow: 1px 1px 1px 2px #1d5258;
  width: 90%;
  max-width: 600px;
  margin: auto;
}
form input,
form textarea {
  width: 80%;
  height: 2rem;
  border-radius: 5px;
}
form textarea {
  min-height: 150px;
}
#send-email-btn {
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 600;
  background: rgba(0, 69, 77, 0.9);
  border: 1px solid #317da5;
  box-shadow: inset 0px 0px 0px 1px #000000;
  color: white;
}
#send-email-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 69, 77, 0.9) 100%
  );
}

.message-container {
  background: white;
  width: 80vw;
  max-width: 400px;
  height: 200px;
  border: 2px solid #8ca5a3cc;
  border-radius: 5px;
  margin: auto;
  padding: 1rem;
  position: absolute;
  z-index: 6;
  top: 20%;
  /*center absolute positioned el*/
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /*end center absolute positioned el*/
}
.message {
  color: black;
  font-size: 1.2rem;
}

/*:before is used to create the bg image
The absolute position and the top, left, bottom, right values are applied so that the pseudo-element has 
the same size as its parent.*/
.message-container::before {
  content: '';
  background-image: url(./images/form-imgs/coding.png);
  opacity: 0.4;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5;
  backdrop-filter: blur(5px);
}
/*END CONTACT section*/
/*END main*/

/*footer*/
footer {
  background-color: #2d3037;
  text-align: center;
  padding: 20px;
}
footer span {
  display: block;
}

/*END footer*/

@media screen and (min-width: 480px) {
  #home {
    background-size: auto;
  }
  /*projects*/
  .project-item {
    height: 300px;
    justify-content: start;
    align-items: start;
  }
  .project-content {
    width: 32%;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
    align-items: flex-start;
  }
  .project-content:hover {
    width: 100%;
    align-items: center;
  }

  .project-img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  /*Small screens, laptops=> hover effect*/
  .nav-icon-mobile,
  #aside-active {
    display: none;
  }
  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
    top: 0;
    height: 4rem;
    left: unset;
    right: 0;
    gap: 2rem;
    transition: all 650ms ease-in-out;
  }

  .nav-item {
    border-bottom: none;
  }
  .project-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .project-item {
    height: 250px;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .project-item {
    height: 300px;
  }
}
@media screen and (min-width: 1200px) {
  /*Extra large screens*/
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .project-item {
    height: 250px;
  }
}
